body {
  background-color: black;
}

@media screen and (max-width: 400px) {
  body {
    background-color: pink;
  }
}

@media (width >= 600px) {
  body {
    background-color: greenyellow;
  }
}

@media screen and (min-width: 1200px) {
  body {
    background-color: red;
  }
}

@media (400px <= width <= 600px) {
  body {
    background-color: green;
  }
}
