:root {
  --maincolor: #2ec816;
  --secondcolor: #f8a803;
  --thirdcolor: #f4ab01;
  --textcolor: #4a5764;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 88px;
  padding: 1.5rem 7%;
  box-shadow: 0.5rem 1rem rgba(0, 0, 0, 0.1);
}
.logo {
  width: 100px;
}

.logo img {
  width: 100%;
}

.navbar a {
  color: var(--textcolor);
  font-size: 1.7rem;
  margin: 1rem;
  position: relative;
  transition: 0.5s;
}

.navbar a:hover {
  color: var(--maincolor);
}

.navbar a::after {
  content: "";
  background-color: var(--maincolor);
  width: 0;
  position: absolute;
  height: 0.2rem;
  left: 0;
  margin-top: 0.5rem;
  top: 100%;
  transition: 0.5s;
}

.navbar a:hover::after {
  width: 100%;
}
.menu-bars {
  color: var(--textcolor);
  font-size: 2.5rem;
  cursor: pointer;
  margin-right: 1rem;
  display: none;
}

.menu-bars:hover {
  color: var(--maincolor);
}

.right-icons .btn {
  padding: 1rem;
  font-size: 1.7rem;
  color: var(--textcolor);
  text-decoration: none;
  border: 0.2rem solid var(--maincolor);
  cursor: pointer;
}
.right-icons .btn:hover {
  color: var(--maincolor);
}
.div {
  padding: 2rem 7%;
  height: calc(100% - 88px);
  background-color: #f4ab01;
}

@media (max-width: 768px) {
  html {
    font-size: 55%;
  }
  .menu-bars {
    display: initial;
  }
  .right-icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .navbar {
    position: absolute;
    top: 100%;

    left: -200%;
    right: 0;
    height: 40vh;
    text-align: center;
    z-index: -1;
  }
  .navbar.active {
    left: 0;
  }
  .navbar a {
    display: block;
    margin: 1rem;
    padding: 1rem;
  }
}
