body {
  background-color: coral;
}

@media (orientation: portrait) {
  body {
    background-color: red;
  }
}

@media (orientation: landscape) {
  body {
    background-color: pink;
  }
}
